<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 定义别名 -->
	<typeAliases>
		<typeAlias alias = "moment" type = "mybatis.test.Moment"/>
	</typeAliases>
	
	<environments default = "development">
		<environment id = "development">
			<transactionManager type = "JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://10.236.254.202:3307/sspdb"/>
				<property name="username" value="acspassport"/>
				<property name="password" value="123s56.."/>
			</dataSource> 
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis/momentMapper.xml"/>
	</mappers>
</configuration>